@charset 'UTF-8';

// 1. Configuration and helpers
@import "abstracts/variables", "abstracts/functions", "abstracts/mixins",
  "abstracts/_placeholders";

// 2. Vendors
@import "../../node_modules/bootstrap/scss/bootstrap";

// 3. Base stuff
@import "base/base", "base/fonts", "base/typography", "base/helpers";

// 4. Layout-related sections
@import "layout/header", "layout/footer", "layout/form", "layout/webapp";

// 5. Components
@import "components/button", "components/flash", "components/badge",
  "components/navbar", "components/fontello", "components/icon",
  "components/card", "components/sidenav", "components/modal",
  "components/input", "components/datepicker", "components/chart";

// 6. Page-specific styles
@import "pages/home", "pages/auth", "pages/step-guide", "pages/installation",
  "pages/webapp/add-whanau", "pages/report";

// 7. Themes
@import "themes/default";

.bg-heading {
  position: relative;
  z-index: 0;
}

.bg-heading::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: solid 48px $color-red;
  border-right: solid 24px transparent;
  max-width: 474px;
  width: 100%;
  z-index: -1;

  @include media-breakpoint-up(md) {
      border-top: solid 60px $color-red;
      border-right: solid 40px transparent;
  }
}
