@charset 'UTF-8';

// 1. Configuration and helpers
@import "abstracts/variables", "abstracts/functions", "abstracts/mixins",
  "abstracts/_placeholders";

// 2. Vendors
@import "../../node_modules/bootstrap/scss/bootstrap";

// 3. Base stuff
@import "base/base", "base/fonts", "base/typography", "base/helpers";

// 4. Layout-related sections
@import "layout/header", "layout/footer", "layout/form", "layout/webapp";

// 5. Components
@import "components/accordion", "components/badge", "components/bg-heading",
  "components/button", "components/card", "components/carousel",
  "components/changes", "components/chart", "components/datepicker",
  "components/flash", "components/fontello", "components/form",
  "components/high-low", "components/icon", "components/image-preview",
  "components/input", "components/leaflet", "components/marker-cluster",
  "components/modal", "components/nav", "components/navbar", "components/progress-bar",
  "components/select2", "components/sidenav", "components/swiper",
  "components/toggle-hide-show", "components/tooltip", "components/wizard";

// 6. Page-specific styles
@import "pages/auth", "pages/home", "pages/installation", "pages/outside-temp",
  "pages/report", "pages/step-guide", "pages/webapp/add-whanau",
  "pages/whanau-maps";

// 7. Themes
@import "themes/default";
