<!-- index.html -->
{% extends "layout.html" %} {% block content %}

<header>{% import 'macros/nav-macro.html' as nav %} {{nav.active('')}}</header>
<main class="auth">
  <section class="auth__section">
    <div class="container">
      <div class="auth__row row">
        <div class="auth__content">
          <div class="auth__content-wrapper">
            <h2 class="auth__sub-title">Content :</h2>
            <div class="auth__list row row-cols-md-3 g-3">
              <a href="login.html" class="auth__link">Login</a>
              <a href="sign_up.html" class="auth__link">Sign Up</a>
              <a href="confirm_instruction.html" class="auth__link">
                Confirm Instruction
              </a>
              <a href="resend_email.html" class="auth__link">Resend Email</a>
              <a href="forgot_password.html" class="auth__link">
                Forgot Password
              </a>
              <a href="step_form.html" class="auth__link">Step Form</a>
              <a href="step_form_finish.html" class="auth__link">
                Step Form Finish
              </a>
              <a href="installation_guide.html" class="auth__link">
                Installation Guide
              </a>
              <a href="list-of-whare.html" class="auth__link">List of Whare</a>
              <a href="edit-whare.html" class="auth__link">Edit Whare</a>
              <a href="room.html" class="auth__link">Room</a>
              <a href="edit-room.html" class="auth__link">Edit Room</a>
              <a href="room-details.html" class="auth__link">Room Details</a>
              <a href="account-setting.html" class="auth__link">
                Account setting
              </a>
              <a href="add-whanau.html" class="auth__link">Add Whanau</a>
              <a href="add-whanau-form.html" class="auth__link">
                Add Whanau Form
              </a>
              <a href="report.html" class="auth__link">Report</a>
              <a href="report-view.html" class="auth__link">Report View</a>
              <a href="tutor.html" class="auth__link">Tutor page</a>
              <a href="previous-address.html" class="auth__link">
                Previous Address
              </a>
              <a href="room-address.html" class="auth__link">
                Room with Previous Address
              </a>
              <a href="report-all.html" class="auth__link">
                Report All Room Conditions
              </a>
              <a href="whanau-map.html" class="auth__link">
                List of Whanau Homes by Map/List
              </a>
              <a href="electricity.html" class="auth__link">Electricity Data</a>
              <a href="outside-temp.html" class="auth__link">
                Outside temp and humidity
              </a>
              <a href="home-health-check.html" class="auth__link">
                Home health check
              </a>
              <a href="notification.html" class="auth__link">Notification</a>
              <a href="notification-detail.html" class="auth__link">Notification Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
