{% set cssStyle = "style" %} {% set pageTitle = 'Report Chart' %} {% import
"../components/partials/webapp/aside.html" as aside %} {% import
"../components/cards.html" as card %} {% import "header-navigation.html" as
HeaderNav %} {% extends "layout.html" %} {% block content %}
<header>{% include "partials/webapp/nav.html" %}</header>
<main class="webapp webapp--whare-page">
  {{ aside.whanau() }}
  <section class="section">
    <div class="container-fluid">
      <div class="content">
        <div class="card flex-column p-2 p-md-y-4 p-md-x-3 p-lg-4">
          <h3 class="fw-bold fs-6 fs-md-4 mb-3 mb-md-5">
            Humidity Tairawhiti rooms vs Tairawhiti Covid cases
          </h3>
          <p class="mb-2 mb-md-3 fs-7">Period 2022</p>
          <div class="chart-wrapper pb-lg-5">
            <canvas id="covidHumidityChart"></canvas>
            <div class="legends legends--small bg-white py-1">
              <div class="row gy-1 row-cols-2 row-cols-md-4 mx-0 mx-md-6">
                <div class="col">
                  <p>
                    <span
                      class="icon--xs me-1 border border-success border-2"
                    ></span>
                    All Tairawhiti rooms
                  </p>
                </div>
                <div class="col">
                  <p>
                    <span
                      class="icon--xs me-1 border border-danger border-2"
                    ></span>
                    All bedrooms
                  </p>
                </div>
                <div class="col">
                  <p>
                    <span
                      class="icon--xs me-1 border border-dark-blue border-2"
                    ></span>
                    All lounge's
                  </p>
                </div>
                <div class="col">
                  <p>
                    <span class="icon--xs me-1 bg-light-blue border-2"></span>
                    Tairawhiti COVID cases
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
{% block script %}
<script src="./assets/js/covidHumidityChart.js"></script>
{% endblock script %}
