// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Open Sans", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
  "Monaco", monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(214, 47, 14) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "small": 576px,
  "medium": 768px,
  "large": 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: "/assets/" !default;

// Responsive typography map
// null: iphone5
// small: ipad
// large: desktop
$typi: (
  base: (
    null: (
      12px,
      1.4,
    ),
    small: 14px,
    large: 16px,
  ),
  // h1: (
  //   null: (ms(4), vr(2.5)),
  //   small: (ms(4), vr(2.5)),
  //   large: (ms(4), vr(2.5))
  // ),,,,
);

$ms-base: 1em;
$ms-ratio: 1.618;

// backgrounds
$bg-white: #ffffff;
$bg-black: #000000;
$bg-gray: #d0d0d0;
$bg-cream-white: #ececec;
$bg-yellow: #fdff8c;

// colors
$color-white: #ffffff;
$color-black: #000000;
$color-secondary-black: #333333;
$color-secondary-900: #101b37;
$color-secondary-600: #6f757e;
$color-secondary-400: #899aab;
$color-secondary-200: #f3f3f4;
$color-secondary-100: #ebf3f8;
$color-secondary-grey: #777777;
$color-green: #abcc75;
$color-yellow: #fdff8c;
$color-dark-grey: #909090;
$color-grey: #4b4b4b;
$color-red: #d62f0e;
$color-soft-red: #cd6276;
$color-lite-grey: #595959;
$color-grey-button: #f0f0f0;
$color-white-grey: #f9f9f9;
$color-comfortable: #4d9d2e;
$color-cold: #356bb5;
$color-damp: #59a2c9;
$color-hot: #ea6720;
$color-dry: #cd6276;
$color-offline: #777777;

$primary: $color-red;
$secondary: $color-secondary-600;
$danger: $color-red;
$light: $bg-white;
$success: $color-comfortable;
$info: $color-damp;
$warning: $color-yellow;
$dark: $color-secondary-900;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

// Add custom color map
$custom-colors: (
  "light-gray": $color-secondary-200,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// sizing
$base-font-size: 16px;
$grid-gutter-width: 1.5rem;
$grid-columns: 12;
$input-font-size: 14px;

//Spacer
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.3125,
  2: $spacer * 0.625,
  3: $spacer * 0.9375,
  4: $spacer * 1.25,
  5: $spacer * 1.875,
  6: $spacer * 3,
);

//Border Radius
$border-radius: 0.375rem;
$border-radius-sm: 0.25rem;
$border-radius-lg: 0.5rem;

$nav-tabs-border-width: 0;
$nav-link-padding-y: 0.625rem;
$nav-link-padding-x: 0.625rem;
