/*! purgecss start ignore */
.logo-big {
  @extend .img-fluid;
}

.maps-wrapper {
  height: 60vh;
  margin-top: 15px;
}

.room {
  &__location {
    @extend .text-truncate;
  }
  &__name {
    @extend .text-truncate;
  }
}

.search-type-label {
  display: none;
  @include media-breakpoint-up(md) {
    display: inline;
  }
}

.status-bar {
  display: flex;
  width: 25%;
  &-value {
    color: $dark;
    display: flex;
    justify-content: space-between;
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    border: 5px solid transparent;
    height: 32px;
    overflow: hidden;
    position: relative;
    margin-top: 15px;

    &.dry, &.hot {
      border-color: #f3d8dd;
      background-color: #eabbc3;
      .status-bar {
        background-color: $color-dry;
      } 
    }
    &.offline {
      border-color: #e1e1e1;
      background-color: #BABABA;
      .status-bar {
        background-color: $color-offline;
      } 
    }
    &.cold {
      border-color: #ccdaec;
      background-color: #a7bede;
      .status-bar {
        background-color: $color-cold;
      }
    }
    &.comfortable {
      border-color: #d3e7cb;
      background-color: #aad6a8;
      .status-bar {
        background-color: $color-comfortable;
      }
    }
    &.damp {
      border-color: #d5e8f1;
      background-color: #b6d7e7;
      .status-bar {
        background-color: $color-damp;
      }
    }
  }
}

.whanau-list-wrapper {
  @extend .collapse;
  margin-top: 15px;
  height: calc(60vh - 98px);
  overflow-y: auto;
  overflow-x: clip;
  @include media-breakpoint-up(md) {
    margin-top: 30px;
  }

  .whanau-items {
    .col:last-child {
      padding-bottom: 55px;
      @include media-breakpoint-up(md) {
        padding-bottom: 60px;
      }
    }
  }

  &.show + .form--float.footer {
    bottom: 15px;
  }
}

/*! purgecss end ignore */