.chart-wrapper {
  .legends {
    text-align: center;
    margin-top: 10px;
    padding: 12px;
    background-color: $color-secondary-200;

    .item {
      margin-right: 10px;
      display: inline-flex;
      
      @include media-breakpoint-up(md) {
        margin-right: 30px;
      }

      &:last-child {
        margin-right: 0;
      }

      .color {
        margin-right: 5px;
        width: 25px;
        height: 12.5px;
        display: block;
        content: "";

        &.cold {
          background-color: $color-damp;

          @media print {
            background-color: $color-damp !important;
            -webkit-print-color-adjust: exact;
          }
        }

        &.comfortable {
          background-color: $color-comfortable;

          @media print {
            background-color: $color-comfortable !important;
            -webkit-print-color-adjust: exact;
          }
        }

        &.hot {
          background-color: $color-dry;

          @media print {
            background-color: $color-dry !important;
            -webkit-print-color-adjust: exact;
          }
        }
      }

      .text {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 11.6294px;
        line-height: 14px;
        color: $color-secondary-900;
      }
    }

    &--small {
      text-align: left;
      font-size: 11.63px;
      line-height: 11.63px;
      padding: 20px 5px;
    }
  }
}