.header-navigation {
  display: flex;
  align-items: center;
  margin: 0 0 30px;
  .button {
    margin-right: 14px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    padding: 5px;
  }
  .desc {
    display: block;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
  }
  .title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140.62%;
    color: $gray;
    margin: 0;
  }
  .text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140.62%;
    color: $color-secondary-black;
    margin: 4px 0 0;
  }
}
