.image-preview {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: top;
  &__wrapper {
    width: 140px;
    height: 140px;
    border: 1px solid $gray-400;
    padding: 10px;
    margin: 0 auto;
    display: none;
    &.show {
      display: block;
    }
    &.show:hover {
      .action__change {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.45);
        cursor: pointer;
      }
    }

    .action__change {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      display: none;
      height: 100%;
      width: 100%;
    }
  }
}
