.image-preview {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: top;
  &__wrapper {
    width: 140px;
    height: 140px;
    border: 1px solid $gray-400;
    padding: 10px;
    margin: 0 auto;
    display: none;
    &.show {
      display: block;
    }
  }
}
