.chart-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .left {
    display: flex;
    margin-right: 20px;
    width: 100%;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  .right {
    @include for-size(phone-xs) {
      width: 15vw;

      button {
        height: 78px;
        width: 100%;

        &::after {
          display: none;
        }

        span {
          display: none;
        }
      }
    }

    i {
      margin-right: 0;

      @include for-size(phone-xs) {
        color: $gray;
      }
      @include media-breakpoint-up(md) {
        margin-right: 5px;
      }
    }
  }
}

// .date {
//   input {
//     border-right: 0;
//   }

//   .icon {
//     background: #fff;

//     i {
//       color: $gray;
//     }
//   }
// }
