.leaflet-container .leaflet-popup {
  font-family: "Roboto";
  a.leaflet-popup-close-button {
    top: 10px;
    right: 10px;
    width: 18px;
    height: 18px;
    font: 14px/18px Roboto;
    background: #6f757e;
    color: white;
    border-radius: 50%;

    &:hover {
      color: white;
      opacity: 0.8;
    }
  }
}
