.select2.select2-container {
  .selection {
    .select2-selection {
      @extend .form-control;
      height: auto;
      &__clear {
        margin-right: 15px;
        height: auto;
      }
      &__rendered {
        line-height: 1.5;
      }
      &__arrow {
        top: 5px;
      }
    }
  }
}
