.swiper {
  &.swiper-initialized {
    margin: 0 -6px;
    width: calc(100% + 12px);
  }
  &-button-prev + &-button-next {
    right: -10px;
  }

  .swiper + &-button-prev {
    left: -10px;
  }
  .swiper + &-button-prev,
  &-button-prev + &-button-next {
    @extend .shadow-sm, .border;
    top: 60%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $white;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  &-button-prev + &-button-next::after {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='21' viewBox='0 0 13 21'  fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 3L10 10.5L2.5 18' stroke='%23d62f0e' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    width: 13px;
    height: 21px;
    content: "";
  }

  .swiper + &-button-prev::after {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='21' viewBox='0 0 13 21'  fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 3L3 10.5L10.5 18' stroke='%23d62f0e' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    width: 13px;
    height: 21px;
    content: "";
  }
}
